/pgsql/*.pbf
/mbtiles/file/*.pbf
tegola/docker-imposm3/import/vietnam-latest.osm.pbf
tegola/tegola.exe
mbtiles/file/*.mbtiles
tegola/file/*.zip
tegola/docker-imposm3/diff/000/*
tegola/docker-imposm3/cache/*
tegola_openmaptiles/docker-imposm3/cache/*
tegola_openmaptiles/web/svgs/*
tegola_openmaptiles/import-data/import/*
tegola_openmaptiles/cache/*
